<div class="h-full min-w-64 rounded-md bg-slate-300 p-2 flex flex-col md:flex-row mb-3 md:flex "
  *ngFor="let employee of employees">
  <div class="flex flex-col gap-1">
    <p class="gap-1 flex items-center ">
      <span class="text-sm">Nome: </span>
      <span>{{employee.name}}</span>
    </p>
    <p class="text-xs">
      <span class="text-sm">Email: </span>
      <span>{{employee.email}}</span>
    </p>
    <p class="text-xs">
      <span class="text-sm">Tipo de conta:</span>
      <span>{{employee.role}}</span>
    </p>
  </div>
  <div class="flex md:flex-col justify-between gap-1">
    <div>
      <p class="text-xs">Cód: {{employee.employeeCod}}</p>
      <p class="text-xs">Data de registro: {{employee.registrationDate | dateType}}</p>
    </div>
    <div class="flex gap-3">
      <button>
        <i class="fa-solid fa-pencil" style="color: #74C0FC;"></i>
      </button>
      <button (click)="confirmDelete(employee.employeeCod)">
        <i class="fa-solid fa-trash" style="color: #74C0FC;"></i>
      </button>
    </div>
  </div>
</div>