<div class=" bg-nav-color flex justify-center w-full h-10 bg-nav-color flex items-center gap-5 justify-between px-8">
    <div class="bg-white rounded-full px-4">
      <i class="fa-regular fa-user"></i>
    </div>
    <div class="flex gap-6">
      <div
        *ngFor="let item of menu"
        class="text-sm text-white font-semibold hidden sm:flex gap-8 px-4">
        <p
          class="hover:underline cursor-pointer"
          (click)="goTo(item.router)"
        >
          {{item.name}}
      </p>
  
      </div>
      <p class="text-sm hover:underline text-white font-semibold hidden sm:flex gap-8 px-4 cursor-pointer" (click)="toLogout()">Sair</p>
      <div class="sm:hidden">
        <i class="fa-solid fa-bars" style="color: #ffffff;"
        (click)="showMenu(canShowMenu)"></i>
      </div>
    </div>
</div>

<ng-container  *ngIf="canShowMenu" >
  <div class="bg-white z-10 top-10 rounded-md fixed left-3/4" >
    <p *ngFor="let item of menu"
    class="px-3 py-1 hover:underline cursor-pointer"
    (click)="goTo(item.router)"
  >
    {{item.name}}
  </p>
  <p class="px-3 py-1 hover:underline cursor-pointer" (click)="toLogout()">Sair</p>
  </div>

</ng-container>