<form
  [formGroup]="formClient"
  class="w-auto bg-white flex rounded-md flex-col p-3 border-4">
  <div class="flex justify-center gap-3">
    <button 
      (click)="isCpf=true" 
      class="border-2 rounded-md p-3 hover:bg-gray-200"
      [ngClass]="isCpf ? 'w-full border-2 rounded-md p-1 bg-gray-300' : 'w-full border-2 rounded-md p-1 hover:bg-gray-200'"
    >
      Pessoa Fisica
    </button>
    <button
      (click)="isCpf=false"
      [ngClass]="!isCpf ? 'w-full border-2 rounded-md p-1 bg-gray-300' : 'w-full border-2 rounded-md p-1 hover:bg-gray-200'">Pessoa Juridica</button>
  </div>
  <div>
    <span class="text-sm font-medium">Nome</span>
    <input type="text" formControlName="name" class="border-2 rounded-md w-full">
    <p *ngIf="formClient.get('name')?.invalid && formClient.get('name')?.touched"
      class="text-red-500 text-sm">
      <span *ngIf="formClient.get('name')?.errors?.['required']">O nome é obrigatório.</span>
  </div>
  <div>
    <span class="text-sm font-medium">Telefone</span>
    <input mask="(00) 0 0000-0000" type="phone" formControlName="phone" class="border-2 rounded-md w-full">
    <p *ngIf="formClient.get('phone')?.invalid && formClient.get('phone')?.touched"
      class="text-red-500 text-sm">
      <span *ngIf="formClient.get('phone')?.errors?.['required']">O telefone é obrigatório.</span>
  </div>
  <div>
    <span class="text-sm font-medium">{{documentInput}}</span>
    <input 
      [mask]="maskInput"
      type="text"
      formControlName="cnpj"
      class="border-2 rounded-md w-full">
      <p *ngIf="formClient.get('cnpj')?.invalid && formClient.get('cnpj')?.touched"
      class="text-red-500 text-sm">
      <span *ngIf="formClient.get('cnpj')?.errors?.['required'] && isCpf">O CPF é obrigatório.</span>
      <span *ngIf="formClient.get('cnpj')?.errors?.['required'] && !isCpf">O CNPJ é obrigatório.</span>
  </div>
  <div>
    <span class="text-sm font-medium">Código do cliente </span>
    <input type="text" formControlName="codClient" class="border-2 rounded-md w-full">
    <p *ngIf="formClient.get('codClient')?.invalid && formClient.get('codClient')?.touched"
      class="text-red-500 text-sm">
      <span *ngIf="formClient.get('codClient')?.errors?.['required']">O código do cliente é obrigatório.</span>
      <span *ngIf="formClient.get('codClient')?.errors?.['maxlength']">O código do cliente não pode ter mais de 10 caracteres.</span>
  </div>
  <button 
    [ngClass]="formClient.valid ? 'bg-blue-400 p-3 mt-3 rounded-md' : 'bg-gray-300 p-3 mt-3 rounded-md'" 
    type="submit"
    [disabled]="isSubmiting || !formClient.valid" 
    (click)="submitClient()"
  >
    Cadastrar cliente
  </button>
</form>