<form
  [formGroup]="formClient"
  class="w-auto bg-white flex rounded-md flex-col p-3 border-4">
  <div>
    <span class="text-sm font-medium">Nome</span>
    <input type="text" formControlName="name" class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Telefone</span>
    <input mask="(00) 0 0000-0000" type="phone" formControlName="phone" class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">cnpj</span>
    <input mask="00.000.000/0000-00" type="text" formControlName="cnpj" class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Código do cliente </span>
    <input type="text" formControlName="codClient" class="border-2 rounded-md w-full">
  </div>
  <button 
    class="bg-gray-300 p-3 mt-3 rounded-md" 
    type="submit" 
    (click)="submitClient()"
  >Cadastrar cliente</button>
</form>