<form 
  [formGroup]="formEquipment"
  class="w-auto bg-white flex rounded-md flex-col p-3 border-4">
  <div>
    <span class="text-sm font-medium">Equipamento</span>
    <input 
      type="text"
      formControlName="equipmentName"
      class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Número de Serie</span>
    <input
    type="text"
    formControlName="serialNumber"
    class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Cliente</span>
    <input
    type="text"
    formControlName="enterprise_name"
    class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Recebedor</span>
    <input
      type="text"
      formControlName="receiver"
      class="border-2 rounded-md w-full">
  </div>

  <div>
    <span class="text-sm font-medium">Portador</span>
    <input
      type="text"
      formControlName="carrier"
      class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Marca</span>
    <input
      type="text"
      formControlName="brand"
      class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Modelo</span>
    <input
      type="text"
      formControlName="model"
      class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Corrente</span>
    <input
      type="text"
      formControlName="current"
      class="border-2 rounded-md w-full">
  </div>
  <div>
    <span class="text-sm font-medium">Potencia</span>
    <input
      type="text"
      formControlName="power"
      class="border-2 rounded-md w-full">
  </div>
  <div class="flex justify-between items-center gap-3">
    <div>
      <span class="text-sm font-medium">Tensão</span>
      <input
        type="text"
        formControlName="voltage"
        class="border-2 rounded-md text-xs w-full h-8">
    </div>
    <div>
      <span class="text-sm font-medium">Prioridade</span>
      <select formControlName="priority" class="border-2 rounded-md text-xs w-full h-8">
        <option value="" disabled selected >Qual a prioridade?</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C">C</option>
      </select>
    </div>
  </div>
  
  <div class="flex justify-between">
    <div>
      <div class="flex gap-1">
        <input type="radio" formControlName="connectors" value="SIM">
        <p class="text-sm font-light uppercase">CONECTORES</p>
      </div>
      <div class="flex gap-1">
        <input type="radio" formControlName="ihm" value="SIM">
        <p class="text-sm font-light uppercase">IHM</p>
      </div>
      <div class="flex gap-1">
        <input type="radio" formControlName="carcass_damage" value="SIM">
        <p class="text-sm font-light uppercase">Avarias em carcaça</p>
      </div>
      <div class="flex gap-1">
        <input type="radio" formControlName="engine" value="SIM">
        <p class="text-sm font-light uppercase">Motor</p>
      </div>
    </div>
    <div>
      <div class="flex gap-1">
        <input type="radio" formControlName="engine_cables" value="SIM">
        <p class="text-sm font-light uppercase">Cabos do motor</p>
      </div>
      <div class="flex gap-1">
        <input type="radio" formControlName="fan" value="SIM">
        <p class="text-sm font-light uppercase">Ventilador</p>
      </div>
      <div class="flex gap-1">
        <input type="radio" formControlName="fan_carcass" value="SIM">
        <p class="text-sm font-light uppercase">Carcaça do ventilador</p>
      </div>
    </div>
  </div>
  <div>
    <span class="text-sm font-medium">Descrição</span>
    <textarea class="border-2 rounded-md w-full" rows="4" cols="50" formControlName="others" placeholder="Digite aqui..."></textarea>
  </div>
  
  <div *ngIf="showCam" class="flex w-80 flex-col justify-center items-center">
    <video *ngIf="showCam" #video autoplay></video>
    <canvas #canvas></canvas>
  
    <div class="flex gap-3" *ngIf="showCam">
      <button class="bg-gray-300 p-3 rounded-md" (click)="capture()">Capturar foto</button>
      <button class="bg-gray-300 p-3 rounded-md" (click)="stopCamera()">Encerrar câmera</button>
    </div>
  </div>
  <div class="w-full flex justify-center" *ngIf="capturedImage">
    <img class="w-80"  [src]="capturedImage" alt="Foto Capturada">
  </div>
  <div class="flex gap-2 sm:flex-col justify-end">
    <button (click)="openCamera()">
      Tirar foto
      <i class="fa-solid fa-camera"></i>
    </button>
    <div *ngIf="!capturedImage">
      <input type="file" (change)="uploadImage($event)" accept="image/*" />
    </div>
  </div>

  <button class="bg-gray-300 p-3 mt-3 rounded-md" type="submit" (click)="submitEquipment()">Cadastrar</button>

</form>