.bg-color {
  background-color: #DDF3FA;
}

.logo-title {
  color: #0658B9;
}

.subtitle-text {
  color: #7AC1F1;
}

.btn-collor {
  background-color: #1790E8;
}

.bg-wallpapper {
  clip-path: polygon(0 0, 100% 0%, 67% 100%, 0% 100%);
  background: linear-gradient(90deg, #1790E8, #0C7ACF);

}