<div class="flex  bg-blue-400 min-h-screen justify-center sm:justify-evenly">
  <div class="bg-blue-400 hidden sm:flex w-3/5">
    <div class="flex flex-col m-auto justify-center items-center">
      <h1 class="font-bold text-7xl logo-title">OS TRACKER</h1>
      <h1 class="font-bold text-7xl logo-title opacity-25 blur-sm">OS TRACKER</h1>
    </div>
  </div>
  <form [formGroup]="login" class="flex w-96 sm:ml-60 justify-center bg-slate-300">
    <div class="flex flex-col items-center w-60 justify-center h-full">
    <div class="flex justify-center flex-col gap-14">
      <div class="flex justify-center gap-5">
        <p class="font-semibold text-black">
          Bem-vindo de volta ! 
        <p>
      </div>
      <h4 class="text-center font-semibold subtitle-text">
        Login to continue
      </h4>
      <div class="w-full flex flex-col gap-8">
        <div class="w-full">
          <p class="font-bold text-black">Usuário:</p>
          <input formControlName="username" class="w-full h-8 rounded-md outline-none" type="text">
        </div>
        <div>
          <p class="font-bold text-black">Senha:</p>
          <div class="bg-white flex h-8 w-full rounded-md pl-1 pr-2">
            <input formControlName="username" class="outline-none" [type]="type">
            <button class="w-4" (click)="changeType()">
              <i *ngIf="!canShowPassowrd" class="fa-solid fa-eye-slash"></i>
              <i *ngIf="canShowPassowrd" class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="bg-slate-600 btn-collor rounded-md h-8 flex justify-center">
        <button (click)="toLogin()" class="w-full font-medium">Entrar</button>
      </div>
    </div>
  </div>
  </form>
  
</div>