<div class="flex flex-col bg-gradient-to-br from-blue-900 to-blue-300 min-h-screen justify-center items-center">
  <div class="bg-white flex flex-col items-center rounded-md shadow-2xl">
    <div class="flex flex-col md:flex-row gap-6 items-center justify-around mb-4">
      <img class="large-logo" src="../../../assets/OS_TRACKER_LOGO.png" alt="Logo Marca LYMTT_logo">
      <p class="large-title">O.S. TRACKER</p>
    </div>
    <form [formGroup]="login" class="w-full">
      <div class="flex flex-col items-center mb-8">
        <p class="text-xl font-semibold text-blue-700">Bem-vindo</p>
        <p class="text-lg font-medium text-blue-600">Acesse para continuar</p>
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-1">
          <label for="email" class="text-lg font-normal">Usuário:</label>
          <input id="email" formControlName="email" class="w-full pl-2 border-container rounded-md outline-none" type="text">
        </div>
        <div class="flex flex-col gap-1">
          <label for="password" class="text-lg">Senha:</label>
          <div class="border-container rounded-md flex w-full items-center">
            <input id="password" formControlName="password" class="pl-2 w-full border-none outline-none" [type]="type">
            <button (click)="changeType()" class="px-2">
              <i *ngIf="!canShowPassowrd" class="fa-solid fa-eye-slash"></i>
              <i *ngIf="canShowPassowrd" class="fa-solid fa-eye"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="bg-blue-400 btn-collor mt-4 rounded-md h-12 flex justify-center">
        <button (click)="toLogin()" class="w-full text-white text-xl font-medium">Entrar</button>
      </div>
    </form>
  </div>
</div>
