<app-navbar></app-navbar>

<div class=" w-auto flex items-center flex-col gap-3 py-4 px-4">
  <h3>{{ registerTitle }}</h3>
  <div class="flex gap-2">
    <button (click)="equipmentForm ='equipment'" class="bg-white p-2 rounded-md">Equipamento</button>
    <button *ngIf="isAdmin" (click)="equipmentForm ='client'" class="bg-white p-2 rounded-md">Cliente</button>
    <button *ngIf="isAdmin" (click)="equipmentForm ='employee'" class="bg-white p-2 rounded-md">Funcionário</button>
  </div>

  <app-equipment-register
    *ngIf="equipmentForm === 'equipment'"
    [formEquipment]="formEquipment"
  >
  </app-equipment-register>

  <app-client-register
  *ngIf="equipmentForm === 'client' && isAdmin"
  
  >
  </app-client-register>

  <app-employee-register
  *ngIf="equipmentForm === 'employee' && isAdmin"
  [formEmployee]="formEmployee"
  >

  </app-employee-register>



  <div *ngIf="statusMessenger" class="bg-green-500 w-full flex justify-center">
    <p>{{ statusMessenger }}</p>
  </div>
</div>