<app-navbar></app-navbar>
<div class="m-auto justify-center max-w-[90%] xl:max-w-[95%] p-10">
  <div class="w-full flex-col bg-all-cards-color rounded-md h-auto gap-5 flex justify-center p-4 shadow-md">
    <div class="flex min-w-full justify-around rounded-md gap-4">
      <button
        class="text-lg text-white w-full"
        [ngClass]="typeList === 'equipments' ? 'border-b-2 border-white' : ''"
        (click)="typeListSelect('equipments')">
        Equipamento
      </button>
      <button
        *ngIf="isAdmin"
        class="text-lg text-white w-full"
        [ngClass]="typeList === 'clients' ? 'border-b-2 border-white' : ''"
        (click)="typeListSelect('clients')">
        Cliente
      </button>
      <button
        *ngIf="isAdmin"
        class="text-lg text-white w-full"
        [ngClass]="typeList === 'employees' ? 'border-b-2 border-white' : ''"
        (click)="typeListSelect('employees')">
        Funcionário
      </button>
    </div>
    <div>
      <app-client-card *ngIf="typeList === 'clients'">
      </app-client-card>
      <app-employee-card *ngIf="typeList === 'employees'">
      </app-employee-card>
      <app-equipament-card *ngIf="typeList === 'equipments'">
      </app-equipament-card>
    </div>
  </div>
</div>
